@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

html,
body {
  width: 230px;
  background-color: #03040d;
}

.show {
  display: block;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#previous > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin: 0px;
  padding: 0px;
}

#check > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

#nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem;
}

#nav > p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  margin: 0px;
  padding: 0px;
}

#nav > button {
  background: linear-gradient(
    259.8deg,
    #18d7ca 0%,
    #00c9fa 33%,
    #00afff 66%,
    #7282ff 100%
  );
  padding: 0.2rem;
  width: max-content;
  height: max-content;
}

main {
  width: 100%;
  padding-bottom: 1rem;
}

#home {
  box-sizing: border-box;
  width: 100%;
  gap: 1.2rem;
  margin-top: 0.8rem;
}

#auth {
  gap: 0.7rem;
}

#auth > p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}

#auth > h5 {
  margin: 1rem;
  margin-bottom: 0.1rem;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

.button {
  background: linear-gradient(
    259.8deg,
    #18d7ca 0%,
    #00c9fa 28.35%,
    #00afff 49.14%,
    #7282ff 69.79%,
    #eb12d4 100%
  );
  border: none;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.16);
  text-shadow:
    0 0 0.5px white,
    0px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 8rem;
  height: 3.5rem;
  cursor: pointer;
}

button:active {
  animation: press 0.1s 1 linear;
}

.doubleline {
  line-height: 1.3rem;
  font-size: 1.5rem;
}

.singleline {
  font-size: 2rem;
}

.other-text {
  height: auto;
  width: auto;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
}

.sending {
  gap: 1rem;
}

.input-box {
  width: 12rem;
  height: 2rem;
  background-color: #080b21;
  border-radius: 1px;
  border: thin;
  padding: 3px 5px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  text-shadow: 0 0 1px white;
}

.box {
  background-color: #080b21;
  border-radius: 1px;
  border: thin;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-shadow: 0 0 1px white;
  resize: vertical;
}

#linkinput {
  word-break: break-all;
}

#previous {
  gap: 0.8rem;
}

.written > p {
  margin: 0;
  padding: 0;
}

.written > a {
  font-size: 1rem;
}

.written {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 13rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: left;
  height: auto;
  background-color: #080b21;
  border-radius: 1px;
  border: thin;
  color: white;
  text-shadow: 0 0 1px white;
}

textarea:focus {
  outline: none;
}

::placeholder {
  font-size: 15px;
  color: #e5e5e5;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

input:focus {
  outline: none;
}

#loader {
  height: 10rem;
  justify-content: center;
}

#loading {
  border: 10px solid #080b21;
  border-radius: 50%;
  border-top: 5px solid white;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#error-content {
  padding: 1rem;
}

#pta,
#error-message {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 1px white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}
